<div class="row">
  <section class="main col-md-9">
    <article>
    <h2>About</h2>
    <p>My name is Rohan Kaicker. I'm currently in my third semester of the CPA program at Seneca College.</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Technologies Used in this Project</h2>
    <ul>
      <li>Node.js</li>
      <li>ExpressJS</li>
      <li>Handlebars</li>
      <li>BootSrap</li>
      <li>bcrypt</li>
      <li>Cloudinary</li>
      <li>MongoDB</li>
      <li>PostgreSQL</li>
      <li>Heroku</li>
    </ul>
  </aside>
</div>

